.passion {
    background: linear-gradient(90deg, rgba(182,20,20,1) 0%, rgba(115,33,69,1) 100%);
    transition: transform .2s; /* Animation */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
            user-select: no
}

.passion:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.17);     
}