

.loading-wrapper {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loading-wrapper span {
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto,Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    color: purple;
    display: inline-block;
    transition: all 0.5s;
    animation: animate 2s infinite;
}
.loading-wrapper span:nth-child(1) {
    animation-delay: 0.1s;
}
.loading-wrapper span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-wrapper span:nth-child(3) {
    animation-delay: 0.3s;
}
.loading-wrapper span:nth-child(4) {
    animation-delay: 0.4s;
}
.loading-wrapper span:nth-child(5) {
    animation-delay: 0.5s;
}
.loading-wrapper span:nth-child(6) {
    animation-delay: 0.6s;
}
.loading-wrapper span:nth-child(7) {
    animation-delay: 0.7s;
}
.loading-wrapper span:nth-child(8) {
    animation-delay: 0.8s;
}
.loading-wrapper span:nth-child(9) {
    animation-delay: 0.9s;
}
.loading-wrapper span:nth-child(10) {
    animation-delay: 1s;
}


@keyframes animate {
    0% {
        color: cyan;
        transform: translateY(0);
        margin-left: 0;
    }
    25% {
        color: pink;
        transform: translateY(-15px);
        margin-left: 10px;
    }
    100% {
        color: purple;
        transform: translateY(0);
        margin-left: 0;
    }
}