.App {
  text-align: center;
}


.App-logo {
  height:25vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 8px;
  radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 182, 182); 
  border-radius: 4px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disabledTextSelect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.pointerCursor {
  cursor: pointer;
}
